/* Fonts */
/* Colors */
/* Basic setting */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
}
body,
html {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  width: 100vw;
  color: #313131;
  text-rendering: geometricPrecision;
}
p {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.5;
}
h5 {
  margin: 0;
}
/*Чтобы убрать синие браузерный обводки*/
button:active,
button:focus {
  outline: none;
  /*Чтобы убрать синие браузерный обводки*/
}
button::-moz-focus-inner {
  border: 0;
}
a:active,
a:focus {
  outline: none;
}
a::-moz-focus-inner {
  border: 0;
}
.mobile,
.tablet {
  display: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
video {
  outline: none;
}
iframe {
  border: none;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 44px 0;
}
.input {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 12px 8px 32px;
}
.input-addres {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  background: url(../img/home.svg) left 11px center no-repeat;
}
.input-search {
  width: 306px;
  background: url(../img/search.svg) left 11px center no-repeat;
  margin-left: auto;
}
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 10px;
  padding: 8px 16px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.button img {
  padding-right: 6px;
}
.button-primary {
  background: #1890FF;
  border: 1px solid #1890FF;
  color: #ffffff;
}
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.button-card-text {
  margin-right: 10px;
}
.main {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.04%, rgba(245, 245, 245, 0)), to(#f5f5f5));
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}
.promo {
  background: #fff1b8 url(../img/pizza.png) no-repeat right -80px top / 450px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
          box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  color: #302C34;
  padding: 68px 70px;
}
.promo-title {
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
  margin-bottom: 15px;
}
.promo-text {
  font-size: 24px;
  line-height: 28px;
  width: 540px;
}
.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 56px 0 44px;
}
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-right: 30px;
}
.card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-decoration: none;
}
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-img {
  width: 384px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-text {
  padding: 20px 24px 35px;
}
.card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.card-title-reg {
  font-weight: normal;
}
.card-tag {
  padding: 1px 8px;
  background: #262626;
  border-radius: 2px;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}
.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.card-rating {
  color: #FFC107;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  margin-right: 26px;
}
.card-rating::before {
  content: url('../img/rating-star.svg');
}
.card-price,
.card-categary,
.card-ingredients {
  font-size: 18px;
  line-height: 32px;
  color: #8C8C8C;
}
.card-ingredients {
  line-height: 21px;
}
.card-price {
  margin-right: 10px;
}
.card-price::after {
  content: '';
  width: 5px;
  height: 5px;
  display: inline-block;
  background: #8C8C8C;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 10px;
}
.card-price-bold {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  margin-left: 28px;
}
.card-categary {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 150px;
}
.card-buttons {
  margin-top: 24px;
  margin-left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer {
  padding: 60px 0;
}
.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-nav {
  margin-right: auto;
  margin-left: 35px;
}
.footer-link {
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  color: #595959;
  text-decoration: none;
}
.footer-link:not(:last-child) {
  margin-right: 15px;
}
.social-link {
  width: 26px;
}
.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-link:not(:last-child) {
  margin-right: 21px;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.modal-dialog {
  max-width: 780px;
  width: 95%;
  padding: 40px 45px;
  background: #FFFFFF;
  border-radius: 5px;
  margin: auto;
}
.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}
.modal-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.modal-close {
  font-size: 36px;
  border: none;
  background-color: transparent;
}
.modal-footer {
  margin-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal-footer-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-footer-price {
  background: #262626;
  border-radius: 5px;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #FAFAFA;
}
.is-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.food-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0 8px;
  border-bottom: #D9D9D9 solid 1px;
}
.food-name {
  font-size: 18px;
  line-height: 32px;
}
.food-price {
  margin-left: auto;
  margin-right: 45px;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}
.food-caunter {
  font-size: 16px;
  line-height: 24px;
  margin: 0 15px;
}
.food-caunter-button {
  background: #FFFFFF;
  border: 1px solid #40A9FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  padding: 5px 16px;
  color: #40A9FF;
  font-size: 14px;
  line-height: 22px;
}
@media (max-width: 1366px) {
  .container {
    max-width: 960px;
  }
  .promo {
    background-position: center right -100px;
  }
  .card-rating {
    margin-right: 15px;
  }
  .card-price,
  .card-categary {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .promo {
    padding: 50px;
    background-size: 370px;
  }
  .promo-text {
    font-size: 16px;
    max-width: 70%;
  }
  .card {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .footer-link {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .promo {
    background-size: 300px;
  }
  .promo-title {
    font-size: 24px;
    line-height: 1.4;
  }
  .promo-text {
    max-width: 55%;
  }
  .card-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card.card-rating {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .card-title {
    font-size: 18px;
  }
}
@media (max-width: 560px) {
  .container {
    max-width: 90%;
  }
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .input-addres {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    margin-top: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .promo {
    background-image: none;
  }
  .promo-text {
    max-width: 100%;
  }
  .card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .card-img {
    width: 100%;
  }
  .social-link {
    margin-top: 10px;
  }
  .social-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer {
    padding: 30px 0;
  }
}
@media (max-width: 480px) {
  .button-text {
    display: none;
  }
  .button-icon {
    min-height: 20px;
    margin: 0;
  }
  .promo {
    padding: 20px;
  }
  .section-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .input-search {
    margin-top: 15px;
  }
  .footer-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px auto;
  }
}
